#grve-sidebar-wrap .grve-sidebar-table {
	margin-top: 15px;
}

#grve-sidebar-wrap table tr:nth-child(2n) td,
#grve-sidebar-wrap table tr:nth-child(2n) th {
    background: #fcfcfc;
}

#grve-sidebar-wrap table td:first-child {
    width: 150px;
	vertical-align: middle;
}

#grve-sidebar-wrap table tfoot p{
    margin: 0;
	padding: 0;
}

.grve-sidebar-changed,
.grve-sidebar-notice,
.grve-sidebar-notice-exists,
.grve-custom-sidebar-empty {
	display: none;
}

.grve-sidebar-text,
.grve-sidebar-notice,
.grve-sidebar-notice-exists {
	float: left;
}
.grve-sidebar-notice,
.grve-sidebar-notice-exists {
	margin-left: 10px;
}
#grve-custom-sidebar-item-name-new {
    margin: 0;
    padding: 3px;
}

.grve-custom-sidebar-item {
	font-size: 1.2em;
}

.grve-notice-red {
	color: red;
}
.grve-notice-green {
	color: green;
}

.grve-sidebar-spinner {
	background: url("../images/spinner.gif") no-repeat scroll 0 0 / 20px 20px rgba(0, 0, 0, 0);
	vertical-align: middle;
	display: none;
	height: 20px;
	margin: 2px 10px 0;
	opacity: 0.7;
	width: 20px;
	float: right;
}

