.grve-item-type-megamenu {
	display: none;
}
.grve-megamenu-active .grve-item-type-megamenu {
	display: inline-block;
	font-style: italic;
}
.menu-item-depth-0 .grve-submenu-text {
	display: none;
}