#grve-feature-section-metabox .postbox {
	border: 1px solid #e5e5e5;
	margin-bottom: 20px;
}

#grve-feature-section-metabox .grve-title {
	font-size: 14px;
	padding: 8px 12px;
	margin: 0;
	line-height: 1.4;
}
#grve-feature-section-metabox .grve-movable {
	cursor: move;
}

.grve-image-item.postbox h3,
.grve-map-item.postbox h3,
#grve-feature-section-slider h3 {
	cursor: default;
    border-bottom: 1px solid #eee;
}

.grve-slider-item-minimal {
	display: inline-block;
	width: 150px;
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #F5F5F5;
	margin: 5px;
	cursor: move;
}

.grve-button-spacer {
	float: right;
	position: relative;
	right: 10px;
	top: 3px;
}

.grve-feature-slider-item-delete-button,
.grve-slider-item-delete-button,
.grve-image-item-delete-button,
.grve-map-item-delete-button {
	float: right;
	position: relative;
	right: 30px;
	top: 3px;
	z-index: 2;
}

.grve-vertical-spacer {
	height: 10px;
}

.grve-button-spacer {
	width: 10px;
}
.grve-wp-colorpicker {
	display: none;
	padding-top: 2px;
}

.grve-setting {
	padding: 10px 10px 10px 0;
}
.grve-setting label {
	display: inline-block;
	width: 43%;
}

.grve-setting label span {
	color: #999999;
	display: block;
	font-size: 12px;
	font-weight: normal;
	line-height: 20px;
	margin: 0;
}

.grve-setting input[type="text"],
.grve-setting select,
.grve-setting .grve-select-colorpicker {
	display: inline-block;
	margin: 0;
	width: 55%;
}

.grve-setting .grve-select-colorpicker .grve-select-color-extra {
	width: 100%;
}

.grve-thumb {
	display: inline-block;
	vertical-align: top;
}


.grve-upload-remove-image {
    background: #f5f5f5 url("../images/remove.png") no-repeat scroll center center;
    display: block;
    height: 16px;
    position: absolute;
    right: 0;
    top: 0;
    width: 16px;
}
.grve-thumb,
.grve-upload-replace-image,
.grve-thumb-container {
	height: 120px;
	width: 120px;
}
.grve-slider-settings,
.grve-image-settings {
	height: 120px;
}

.grve-upload-replace-image {
	background: url("../images/add.png") no-repeat scroll center center #F5F5F5;
	color: #F5F5F5;
	cursor: pointer;
	margin-right: 2px;
	float: left;
	border: solid 1px #DFDFDF;
}
.grve-thumb-container {
	background: #F5F5F5;
	margin-right: 2px;
	float: left;
	border: solid 1px #DFDFDF;
	position: relative;
	display: none;
}
.grve-thumb-container.grve-loading {
	background: url("../images/spinner.gif") no-repeat scroll center center #F5F5F5;
}

.grve-thumb-container.grve-visible {
	display: block;
}
.grve-upload-slider-button,
.grve-upload-feature-slider-button,
.grve-upload-image-button,
.grve-upload-multi-map-point {
	float: left;
}
.grve-action-spinner,
.grve-modal-spinner {
	background: url("../images/spinner.gif") no-repeat scroll 0 0 / 20px 20px rgba(0, 0, 0, 0);
	vertical-align: middle;
	display: none;
	float: left;
	height: 20px;
	margin: 2px 5px 0;
	opacity: 0.7;
	width: 20px;
}

.grve-modal-spinner {
	float: right;
	margin: 7px 5px 0;
}

.grve-inner-field {
	padding-left: 20px;
}
.grve-inner-field label {
	margin-right: 10px;
}

.grve-setting-label {
	font-weight: bold;
	font-size: 14px;
	border-bottom: 1px solid #0074a2;
	margin-bottom: 20px;
	padding: 10px 0;
}

/* METABOX CONTENT */
.grve-metabox-content {
	margin: -6px -12px -12px;
	overflow: hidden;
}

/* TABS */
.grve-tabs {
	overflow: hidden;
	border-top: 1px solid #d7d8d5;
	background-color: #f5f6f3;
}

.grve-tabs .grve-tab-links {
	margin: 0;
	width: 20%;
	position: relative;
	z-index: 2;
	float: left;
	margin-right: -1px;
}

.grve-tabs .grve-tab-links li {
	display: block;
	margin: 0;
}

.grve-tabs .grve-tab-links li a {
	display: block;
	padding: 15px 12px;
	text-decoration: none;
	font-size: 14px;
	line-height: 1.4;
	font-weight: 600;
	color: #70716f;
	border-bottom: 1px solid #d7d8d5;
	border-right: 1px solid #d7d8d5;
	background-color: #f5f6f3;
}

.grve-tabs .grve-tab-links li a:hover {
	color: #20201f;
	background-color: #EFF0EE;
}

.grve-tabs .grve-tab-links li a:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.grve-tabs .grve-tab-links li.active a {
	color: #20201f;
	background-color: #ffffff;
	border-right-color: #ffffff;
}

.grve-tabs .grve-tab-content {
	float: left;
	width: 80%;
	padding: 20px;
	border-left: 1px solid #d7d8d5;
	background-color: #ffffff;
	padding-bottom: 60px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.grve-tabs .grve-tab-content .grve-tab-item {
	display: none;
}

.grve-tabs .grve-tab-content .grve-tab-item.active {
	display: block;
}

/* PRIMARY COLOR */
.admin-color-fresh .grve-primary-color,
.admin-color-fresh .grve-tabs .grve-tab-links li.active a {
	color: #d54e21;
}

.admin-color-light .grve-primary-color,
.admin-color-light .grve-tabs .grve-tab-links li.active a {
	color: #d64e07;
}

.admin-color-bbp-evergreen .grve-primary-color,
.admin-color-bbp-evergreen .grve-tabs .grve-tab-links li.active a {
	color: #36b360;
}

.admin-color-bbp-mint .grve-primary-color,
.admin-color-bbp-mint .grve-tabs .grve-tab-links li.active a {
	color: #33834e;
}

.admin-color-blue .grve-primary-color,
.admin-color-blue .grve-tabs .grve-tab-links li.active a {
	color: #52ACCC;
}

.admin-color-coffee .grve-primary-color,
.admin-color-coffee .grve-tabs .grve-tab-links li.active a {
	color: #C7A589;
}

.admin-color-ectoplasm .grve-primary-color,
.admin-color-ectoplasm .grve-tabs .grve-tab-links li.active a {
	color: #A3B745;
}

.admin-color-midnight .grve-primary-color,
.admin-color-midnight .grve-tabs .grve-tab-links li.active a {
	color: #E14D43;
}

.admin-color-ocean .grve-primary-color,
.admin-color-ocean .grve-tabs .grve-tab-links li.active a {
	color: #9EBAA0;
}

.admin-color-sunrise .grve-primary-color,
.admin-color-sunrise .grve-tabs .grve-tab-links li.active a {
	color: #BE3631;
}


/* FIELDS */
.grve-fields-wrapper {
	display: table;
	width: 100%;
	border-bottom: 1px dotted #e0e0e0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.grve-label {
	display: table-cell;
	vertical-align: middle;
	width: 20%;
	min-width: 250px;
	padding: 20px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#grve-category-title .grve-label {
    min-width: 180px;
}

.grve-label .grve-title {
	color: #212121;
	font-weight: 600;
	margin-bottom: 6px;
	display: block;
}
.grve-sub-title {
	color: #212121;
	font-weight: 600;
	margin-top: 6px;
	margin-bottom: 6px;
	display: block;
}

.grve-label label {
	cursor: default;
}

.grve-label .grve-description {
	display: block;
	color: #757575;
	font-size: 11px;
}

.grve-label .grve-info {
	display: block;
	color: #bdbdbd;
	font-size: 11px;
}

.grve-fields-wrapper.grve-highlight{
	background-color: #f5f6f3;
	border: #d7d8d5 1px solid;
}

.grve-field-items-wrapper{
	display: table-cell;
	vertical-align: middle;
	width: 80%;
	padding: 20px 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.grve-field-item {
	display: inline-block;
	width: 40%;
	float: left;
	padding: 0 20px;
	min-width: 250px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.grve-field-item.grve-field-item-fullwidth {
	width: 100%;
}

.grve-metabox-side .grve-label,
.grve-metabox-side .grve-field-items-wrapper {
	width: 100%;
	display: block;
	padding: 0;
}
.grve-metabox-side .grve-label,
.grve-metabox-side .grve-field-item  {
	padding: 5px 0px;
}
.grve-metabox-side.grve-fields-wrapper {
	border-bottom: none;
}

.grve-metabox-side .grve-upload-replace-image {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #0073aa;
    height: 30px;
    text-decoration: underline;
    width: 100%;
}
.grve-metabox-side .grve-upload-replace-image:hover {
	color: #00a0da;
}

.grve-field-item textarea,
.grve-field-item input[type=text],
.grve-field-item input[type=checkbox],
.grve-field-item select {
	width: 100%;
	background-color: #FFFFFF;
	border-color: #d7d8d5;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.grve-field-item textarea:hover,
.grve-field-item input[type=text]:hover,
.grve-field-item input[type=checkbox]:hover,
.grve-field-item select:hover,
.grve-field-item textarea:focus,
.grve-field-item input[type=text]:focus,
.grve-field-item input[type=checkbox]:focus,
.grve-field-item select:focus {
	background-color: #FAFAF9;
	border-color: #d7d8d5;
}

.grve-field-item input[type=checkbox] {
	width: 16px;
	height: 16px;
	margin: 0;
}

@media screen and (max-width: 1495px) {
	.grve-tabs .grve-label {
		width: 100%;
		display: block;
		padding: 0;
	}

	.grve-tabs .grve-field-items-wrapper {
		width: 100%;
		display: block;
	}

	.grve-tabs .grve-fields-wrapper {
		padding: 10px 0;
		margin-bottom: 10px;
	}

	.grve-field-item {
		width: 50%;
	}

	.grve-tabs .grve-field-item {
		width: 100%;
		float: none;
		padding: 0;
	}

	.grve-tabs .grve-tab-links{
		width: 30%;
	}

	.grve-tabs .grve-tab-content {
		width: 70%;
	}
}

@media screen and (max-width: 1180px) {
	.grve-label {
		width: 100%;
		display: block;
		padding: 0;
	}

	.grve-field-item {
		width: 100%;
		float: none;
		padding: 0;
	}

	.grve-field-items-wrapper {
		width: 100%;
		display: block;
	}

	.grve-fields-wrapper {
		padding: 10px 20px;
		margin-bottom: 10px;
	}

}


@media screen and (max-width: 870px) {
	.grve-slide-setting li,
	.grve-slide-setting {
		width: 100%;
	}
}
