
#grve-status-wrap .grve-status-table,
#grve-status-wrap .grve-debug-report-wrap {
	margin-top: 15px;
}

#grve-status-wrap .grve-status-table h2 {
	font-size: 14px;
}

#grve-status-wrap table tr:nth-child(2n) td,
#grve-status-wrap table tr:nth-child(2n) th {
    background: #fcfcfc;
}

#grve-status-wrap table td:first-child {
    width: 33%;
}
#grve-status-wrap table td.help {
    width: 1em;
}

#grve-status-wrap .grve-help-tip::after {
    font-family: Dashicons;
    speak: none;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    text-indent: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    content: "\f223";
    cursor: help;
}

#grve-status-wrap mark.error {
    color: #d0011b;
	background: 0;
}

#grve-status-wrap mark.yes {
	color: #82b440;
	background: 0;
}

#grve-status-wrap .grve-docs-link {
	text-decoration: underline;
}	

.grve-debug-report-msg {
    padding: 0 10px;
}

#grve-debug-report {
    display: none;
}

#grve-debug-report textarea {
  font-family: monospace;
  width: 100%;
  margin: 0;
  height: 300px;
  padding: 20px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  resize: none;
  font-size: 12px;
  line-height: 20px;
  outline: 0;
}

