/*
Theme Name:   Movedo Child
Theme URI:    http://themeforest.net/user/greatives
Description:  Movedo Child Theme
Version:      2.6.3
Author:       Greatives Team
Author URI:   http://greatives.eu
Template:     movedo
*/

/* HEADER */
#grve-header {
	float: none;
}
#grve-header #grve-main-header {
	height: auto;
}
#grve-header .grve-container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	max-width: 100%;
}
#grve-header #grve-responsive-header {
 height: 77px;
}
@media only screen and (max-width: 1230px) {
	#grve-header .grve-container {
		width: 100%;
	}
}
@media only screen and (min-width: 1024px) {
	#grve-header {
		height: 167px;
		box-sizing: content-box;
		padding-top: 10px;
	}
}
@media only screen and (max-width: 959px) {
	#grve-header .grve-container {
		width: 100%;
		max-width: 100% !important;
	}
}
@media only screen and (max-width: 649px) {
	#grve-header .grve-container {
		display: block;
	}
}

.grve-logo {
	flex: 0 1 482px;
	align-self: flex-end;
	height: 77px;
	float: none;
}
.grve-logo .grve-wrapper {
	position: static;
	top: 0;
	padding-left: 30px;
}
.grve-logo .grve-wrapper a {
	background: url("logo-full.svg") no-repeat 0 0 transparent;
	width: 482px;
	height: 77px;
	display: block;
}
#grve-responsive-header .grve-logo {
	height: 77px;
}
#grve-responsive-header .grve-logo .grve-wrapper a {
	height: 77px;
}
.grve-logo .grve-wrapper a img {
	display: none !important;
}
@media only screen and (max-width: 767px) {
	.grve-logo .grve-wrapper {
		padding: 0;
	}
}
@media only screen and (max-width: 649px) {
	.grve-logo .grve-wrapper a {
		margin: 0 auto;
		background-size: 100% auto;
		max-width: 100%;
		background-position: center bottom;
	}
}

.grve-header-elements-wrapper {
	float: none;
	flex: 1 1 auto;
	align-self: flex-end;
	height: 60px;
	background-color: #ef3c43;
}
.grve-header-elements-wrapper .grve-header-elements {
	margin: 0;
	border: 0 none;
	width: 100%;
	float: none;
}
.grve-header-elements-wrapper .grve-header-elements .grve-wrapper {

}
.grve-header-elements-wrapper .grve-header-elements .grve-wrapper:after {
	clear: both;
	display: block;
	content: '';
	height: 0;
	width: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.grve-header-elements-wrapper .grve-header-elements .grve-wrapper ul {
	float: right;
}
.grve-header-elements-wrapper .grve-header-elements .grve-wrapper ul .grve-header-element > a {
	line-height: 60px;
	height: 60px;
	display: flex;
	flex-flow: column;
	justify-content: center;
	color: white !important;
	padding: 0;
	margin: 0 0.75rem;
}
.grve-header-elements-wrapper .grve-header-elements .grve-wrapper ul .grve-header-element > a .grve-item {
	display: block;
	margin: 0 auto;
}
.grve-header-elements-wrapper .grve-header-elements .grve-wrapper ul .grve-header-element > a .grve-text {
	display: block;
	font-size: 10px;
	text-transform: uppercase;
	line-height: 1.6;
	text-align: center;
}
#grve-responsive-header .grve-header-elements-wrapper .grve-header-elements {
	width: auto;
	float: right;
}
#grve-responsive-header .grve-header-element > a {
	color: white;
}
#grve-responsive-header .grve-hidden-menu-btn .grve-header-element > a {
	padding: 0 1.563rem;
}

#grve-main-header #grve-main-menu {
	float: none;
	flex: 1 1 100%;
	margin: 0;
	background-color: #f8f8f8;
	text-align: center;
	height: 90px;
}
#grve-main-header #grve-main-menu .grve-wrapper {
	display: inline-block;
}
#grve-main-header #grve-main-menu .grve-wrapper > ul:after {
	display: block;
	content: '';
	padding: 0;
	margin: 0;
	width: 0;
	height: 0;
	overflow: hidden;
	clear: both;
}
#grve-main-header #grve-main-menu .grve-wrapper > ul > li:last-child > a {
	padding-right: 0;
}
#grve-main-header #grve-main-menu .grve-wrapper > ul > li > a {
	color: black !important;
}
#grve-main-header #grve-main-menu .grve-wrapper > ul > li > a:hover {
	color: #ed3e48 !important;
}

@media screen and (max-width:1190px){
	.grve-header-elements-wrapper .grve-header-elements .grve-wrapper ul .grve-header-element > a .grve-text{
		display:none;
	}
}

/* NINJA FORMS */
.consent .nf-field-label {width:100% !important;}
.ninja-forms-req-symbol {color:#ed3e48 !important;}
.nf-error-required-error, .nf-error-msg {color:#ed3e48 !important;}
.nf-error .ninja-forms-field {border:1px solid #ed3e48 !important;}
.nf-error-field-errors {
	font-size:16px;
	color:#ffffff !important;
	background-color: #ed3e48;
	padding:10px 20px;
}
.nf-response-msg p {
    font-size:18px !important;
	line-height: 30px !important;
}

#grve-theme-wrapper input[type="text"], #grve-theme-wrapper input[type="input"], #grve-theme-wrapper input[type="password"], #grve-theme-wrapper input[type="number"], #grve-theme-wrapper input[type="email"], #grve-theme-wrapper input[type="number"], #grve-theme-wrapper input[type="url"], #grve-theme-wrapper input[type="tel"], #grve-theme-wrapper input[type="search"], #grve-theme-wrapper input[type="date"], #grve-theme-wrapper textarea, #grve-theme-wrapper select, #grve-theme-wrapper .select2-choice {
	font-size:14px !important;
}

input.nf-next, input.nf-previous {
	background-color:#ffffff !important;
	border:1px solid #ed3e48 !important;
	color:#ed3e48 !important;
	font-size:14px !important;
	padding:1em 2em !important;
}
input.nf-next:hover, input.nf-previous:hover {
	background-color:#ed3e48 !important;
	border:1px solid #ed3e48 !important;
	color:#ffffff !important;
}



.post-grid .kc-post-2-button{
	background-color:#ed3e48!important;
	color:#FFFFFF!important;
	border:1px solid #ed3e48!important;
	text-transform:uppercase;
	margin-top:15px;
	border-radius:0!important;
	font-size:14px!important
}

.post-grid .entry-meta a{
	color:#ed3e48!important;
}

.post-grid .kc-post-2-button:hover{
	background-color:#FFFFFF!important;
	color:#ed3e48!important;
}


.ufaq-faq-div{
	margin-bottom:30px;
}

.widget li{
	list-style-type: none;
	display: flex;
	align-items:center;
	margin-bottom: 15px;
}

.widget li div{
	margin-left: 15px;
}

.grve-logo a{
	height:60px;
}

#grve-header .grve-horizontal-menu ul.grve-menu ul.sub-menu{
	width:300px;
}

.accroche-total .kc-cta-2{
	text-align:left;
}

#grve-footer{
	border-top:1px solid #e8e4e4; 
}

#grve-footer .grve-widget-area .grve-container{
	border-bottom:none;
}

#grve-footer .grve-footer-bar{
	background-color:#e9e9e9;
}

.grve-copyright img{
	margin-bottom:10px;
}

@media screen and (max-width:850px){
	.kc-feature-boxes .content-image{
		float:none!important;
		width:100%!important;
	}
	.kc-feature-boxes .content-image img{
		float:none!important;
		padding-right:0!important;
	}
	.kc-feature-boxes .box-right{
		padding-left:0!important
	}
}

.kc_text_block ul{
	margin-left:3rem;
}